:root {
 
    --primery-text-color: #757575;
    --titel-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --background-color: #2F303A;

}


ul{
    list-style: none;
}
a{
     text-decoration: none;
}

.body{
     font-family: Roboto, sans-serif;
   
}

.header{
     display: flex;
    background-color: #ffffff;
    font-family: Roboto;
 
}

.header-logo{
    color: var(--accent-color);
   
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;

    margin-left: 215px;
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
}

.logo-part-two{
     color: #2F303A;
     font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
  
}

.navigation{
    display: flex;
margin-top: 32px;
margin-bottom: 32px;  
}

.nav-contacts{
    display: flex;
    margin-top: 32px;
margin-bottom: 32px;
}

.nav-contacts .li{
   
}

.link-studio{
    color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 93px;
    margin-right: 50px;
   
}

.link-studio:hover,
.link-studio:focus{
color: var(--accent-color);
}

 .link-portfolio{
    color: var(--titel-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-right: 50px;
   
}

.link-portfolio:hover,
.link-portfolio:focus
{
    color: var(--accent-color);
}

.link-contact{
    color: var(--titel-text-color)
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
}

.link-contact:hover,
.link-contact:focus{
    color: var(--accent-color);
}

.contacts-mail{
    color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 338px;
    margin-right: 43px;
    
}

.contacts-mail:hover,
.contacts-mail:focus {
color:var(--accent-color);
font-family: Roboto;
font-style: 400;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.contacts-tel{
    color: var(--titel-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
}

.contacts-tel:hover,
.contacts-tel:focus{
    color:var(--accent-color);
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.hero{
   background-color: var( --background-color);
   width: 1600px;
   height: 600px;
   
}

.hero-titel{
    color:  var(--primary-white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    

}

.hero-button{
    background-color: var(--accent-color);
    border-radius: 4px;
    margin-left: 700px;
}
   
.button-text{
    color: var(--primary-white-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px; 
    width: 136px;
    height: 30px;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;

    letter-spacing: 0.06em;
}

.section-text{
    margin-top: 115px;
    margin-bottom: 94px;

}

.container .li{
    display: flex;
}

.section-text .li {
   
}

.text {
    display: flex;
   
}

.text-one{
    width: 270px;
margin-left: 215px;
margin-right: 30px; 
}

.atention-to-detail{
    color: var(--titel-text-color);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    
}

.attention-text{
    color: var(--primery-text-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.text-two{
    width: 270px;
    margin-right: 30px;
}

.punctuality{
    color: var(--titel-text-color);
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
   
}

.punctuality-text{
    color: var(--primery-text-color);
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.text-three{
    width: 270px;
    margin-right: 30px;
}
.planning{
    color: var(--titel-text-color);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
   
}

.planning-text{
    color: var(--primery-text-color);
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.text-four{
    width: 270px;
    margin-right: 215px;
}
.modern-technology{
    color: var(--titel-text-color);
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    
}

.modern-technology-text{
    color: var(--primery-text-color);
    

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.about-us-section {
    
}

.about-us-titel{
    color: var(--titel-text-color);
   
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.about-us {
    display: flex;

    margin-left: 215px;;
}

.picture{
    margin-right: 30px;
}

.our-team-section{
    background: #F5F4FA;
    wight: 1600px;
    
}

.our-team-titel{
    color: var(--titel-text-color);
    font-family: Roboto;
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.cards{
display: flex;

}

.item{ 
    margin-left: 215px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.item +.item{ 
    margin-left: 30px ;
}

.imagine-one{  
    
    background: url(4853.jpg);
    border-radius: 0px;
}
.name{
    color: var(--titel-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.position{
    color: var(--primery-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.imagine-two{

    background: url(5844.jpg);
    border-radius: 0px;
}

.imagine-three{

    background: url(16166.jpg);
    border-radius: 0px;
}

.imagine-four{
    background: url(2968.jpg);
    border-radius: 0px;
}
 
 .footer-bg{
background-color: var( --background-color);


}

.footer-logo{
    color: var(--accent-color);

    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    
    padding-left: 215px;
    padding-top: 60px;
    padding-right: 1240px;
    padding-bottom: 20px;
}

.footer-logo-studio{
    color: var(--primary-white-color);

    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.adress{
    padding-left: 215px;
    
    padding-right: 1154px;
    padding-bottom: 60px;
}

.street{
    color: var(--primary-white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-email{
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}